@font-face {
    font-family: Windsor;
    src: url(./fonts/Windsor Regular.ttf);
}
@font-face {
    font-family: FarnhamTextRegular;
    src: url(../fonts/FarnhamTextRegular.ttf);
}

body {
	color: #74718b;
    padding: 0;
    margin: 0;
}
.skip{
	font-family: 'Poppins', sans-serif;
	color: #74718b;
    letter-spacing: 2.002px;
    font-size: 14px;
}
.skip:hover{ 
    color: white;
    cursor: pointer;
}
.MainScreen{
	background: url(../images/descarga.svg);
	background-size: cover;
    background-position: 50%;
    text-align: center;
}
.Title{
	margin-bottom: 30px;
	font-family: Windsor;
    font-size: 123px;
    line-height: .9;
    text-rendering: optimizeLegibility;
    color: #fff;
}
.Description{
    color: #fff;
    max-width: 80%;
    margin: 0 auto;
    font-size: 23px;
    line-height: 1.5;
    font-family: FarnhamTextRegular;
}
.StartReading{
    font-family: Poppins;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.002px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50px;
    padding: 1em 2em;
    position: fixed;
    bottom: 0;
    margin-bottom: 60px;
}

.StartReading:hover {
    cursor: pointer;
}
.StartReading:before {
    content: "";
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #fff;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-timing-function: ease-out;
}
.Button{
    font-family: Poppins;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 2.002px;
    color: white;
    top:0;
    position: fixed;
    margin-top: 25px;
}
.Button:hover{ 
    color: #fec7c7;
    cursor: pointer;
}