.blue{
  height:70px;
  width:auto;
  background:black;
  text-align:center;
  color:white;
  font-size:50px;

}
.chat{
  width:70%;
  height:80vh;
  background:black;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top:10px;
  border-radius: 15px;
  overflow:scroll;
}
.messages{
  text-align: left;
  padding:15px;
  color: white;

}
body {
    background-image: url("wallpaper.jpg");
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(30,0,255,0.4);
}
