@font-face {
    font-family: BebasNeue;
    src: url(../fonts/Bebas Neue.ttf);
}
.title{
    font-size: 100px;
}
.description{
    height : 790px;
    width: 550px;
    overflow: scroll;
    font-size: 50px;
    position: relative;
    top:180px;
    left:210px;
    text-align: justify;
    white-space:pre-wrap;
}