.matrix{

}
.line{
	display: inline-block;
}
.wall{
	width: 10px;
	height: 10px;
	padding: 10px 10px 10px 10px;
	background: red;
}
.space{
	width: 10px;
	height: 10px;
	padding: 10px 10px 10px 10px;
}
.player{
	background: green;
	width: 10px;
	height: 10px;
	padding: 10px 10px 10px 10px;
}
.winner{
	background: blue;
	width: 10px;
	height: 10px;
	padding: 10px 10px 10px 10px;
}